  <div class="article-card">
    <article>
      {% if label and not page %}
        <h2>
          <a href="{{ url }}" rel="bookmark" class="article-name">{{ label }} </a>
        </h2>
      {% endif %}


      {% if display_submitted %}
        <footer>
          {{ author_picture }}
          <div>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
            {{ metadata }}
          </div>
        </footer>
      {% endif %}

      <divc class="content-atributes">
        {{ content }}
      </div>

    </article>
  </div>
