  <header>
    {{ page.header }}
  </header>


  {% if page.belzbubasmenu %}
  <div id="belzbubasmenu" class="content">
    {{ page.belzbubasmenu }}
  </div>
  {% endif %}
  <br>


  <div class="layout-container">
    {% if page.bandymas %}
      {{ page.bandymas }}
    {% endif %}
  <main class="content-holder">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
      <div class="articles-layout">
      {{ page.content }}
      </div>

      {% if page.sidebar %}
        {{ attach_library('belzabubas/sidebar') }}
        <aside class="layout-sidebar sidebar-css" role="complementary">
          {{ page.sidebar }}
        </aside>
      {% endif %}
    </div>



  </main>

  {% if page.footer %}
    <footer class="footer">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>
